:root {
  --light-gray: hsl(212, 45%, 89%);
  --dark-blue: hsl(218, 44%, 22%);
  --grayish-blue: hsl(220, 15%, 55%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark-grayish-blue);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
}

.container {
  width: 320px;
  height: 497px;
  padding: 16px;
  background: var(--white);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container .image-wrapper {
  height: 288px;
  width: 100%;
}

.container .image-wrapper img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.container .details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  padding: 0 1rem;
  text-align: center;
  color: var(--dark-blue);
  gap: 1rem;
}

.container .details .title {
  font-size: 22px;
  font-weight: 700;
}
.container .details .description {
  font-size: 15px;
  font-weight: 400;
  color: var(--grayish-blue);
}
