:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --dark-blue: hsl(223, 47%, 23%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: url("./images/pattern-background-mobile.svg") no-repeat;
  background-color: var(--pale-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

.card {
  background: var(--white);
  height: 570px;
  width: 327px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card .image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card .order-summary {
  height: 407px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.card .order-summary h2 {
  color: var(--dark-blue);
}

.card .order-summary .description {
  color: var(--desaturated-blue);
  text-align: center;
  width: 95%;
}

.card .order-summary .summary-plan {
  width: 100%;
  padding: 1rem;
  border-radius: 20px;
  background: var(--very-pale-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .order-summary .summary-plan .plan h3 {
  color: var(--dark-blue);
}

.card .order-summary .summary-plan .plan .price {
  color: var(--desaturated-blue);
}

.card .order-summary .summary-plan a {
  color: var(--bright-blue);
  font-weight: 700;
}

.card .order-summary .summary-plan a:hover {
  text-decoration: none;
}

.card .order-summary .proceed {
  width: 100%;
  padding: 1rem 0;
  background: var(--bright-blue);
  border: none;
  border-radius: 10px;
  color: var(--very-pale-blue);
  font-weight: 900;
  box-shadow: 0 10px 34px var(--desaturated-blue);
}

.card .order-summary .proceed:hover {
  cursor: pointer;
  background: var(--desaturated-blue);
}

.card .order-summary .cancel {
  color: var(--desaturated-blue);
  font-weight: 900;
  background: transparent;
  border: none;
}

.card .order-summary .cancel:hover {
  cursor: pointer;
  color: var(--dark-blue);
}

@media screen and (min-width: 600px) {
  body {
    background: url("./images/pattern-background-desktop.svg") no-repeat;
  }
}
