:root {
  --orange: hsl(25, 97%, 53%);
  --light-gray: hsl(217, 12%, 63%);
  --medium-gray: hsl(216, 12%, 54%);
  --light-dark-blue: hsl(210, 18%, 20%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

.container {
  height: 360px;
  width: 340px;
  border-radius: 15px;
  background: var(--dark-blue);
  padding: 1.5rem;
}

.rating-state {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon-star {
  background: var(--light-dark-blue);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: var(--white);
}

.description {
  color: var(--light-gray);
  margin-bottom: 0.5rem;
}

.rates {
  display: flex;
  justify-content: space-around;
}

.rate {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: var(--light-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--light-gray);
}

.rate:hover {
  background: var(--orange);
  color: var(--white);
}

.rate input[type="radio"] {
  display: none;
}

.rate:has(input:checked) {
  background: var(--medium-gray);
  color: var(--white);
}

.btn-submit {
  border: none;
  height: 42px;
  width: 100%;
  background: var(--orange);
  border-radius: 25px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  align-self: center;
}

.btn-submit:hover {
  cursor: pointer;
  background: var(--white);
  color: var(--orange);
}

.thank-you-state {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.summary {
  color: var(--orange);
  background: var(--light-dark-blue);
  padding: 0.5rem;
  border-radius: 15px;
}

.comment {
  color: var(--light-gray);
  text-align: center;
}
