@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype');
}

:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-green: hsl(75, 94%, 57%);
  --color-grey: hsl(0, 0%, 20%);
  --color-dark-grey: hsl(0, 0%, 12%);
  --color-off-black: hsl(0, 0%, 8%);

  /* Fonts */
  --font-family: 'Inter', sans-serif;

  /* Font sizes */
  --font-size-body: 14px;
  --font-size-heading: 24px;

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-off-black);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 327px;
  background: var(--color-dark-grey);
  border-radius: 14px;
  padding: 1.5rem;
}

.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

.profile-header .profile-avatar img {
  border-radius: 50%;
}

.profile-header .profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-header .profile-info .profile-name {
  color: var(--color-white);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
}

.profile-header .profile-info .profile-location {
  color: var(--color-green);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semi-bold);
}

.profile-bio {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.profile-bio .profile-tagline {
  color: var(--color-white);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
}

.social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.social-link {
  background: var(--color-grey);
  color: var(--color-white);
  border-radius: 8px;
  text-decoration: none;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-semi-bold);
  text-align: center;
  padding: 1rem;
}

.social-link:hover {
  background: var(--color-green);
  color: var(--color-dark-grey);
}
