:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --light-cyan: hsl(178, 100%, 50%, 0.5);
  --very-dark-blue: hsl(217, 54%, 11%);
  --dark-blue: hsl(216, 50%, 16%);
  --light-dark-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

.card {
  background: var(--dark-blue);
  height: 543px;
  width: 327px;
  border-radius: 15px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-wrapper {
  position: relative;
}

.image-wrapper .image-equilibrium {
  height: 100%;
  width: 100%;
}

.image-wrapper .image-equilibrium img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.image-wrapper .icon-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-cyan);
  border-radius: 10px;
  transition: opacity 0.3s;
}

.image-wrapper .icon-view img {
  height: 48px;
  width: 48px;
}

.nft-name {
  font-weight: 600;
  color: var(--white);
}

.description {
  font-weight: 300;
  font-size: 16px;
  color: var(--soft-blue);
}

.nft-details {
  display: flex;
  justify-content: space-between;
}

.nft-details .nft-value {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--cyan);
}

.nft-details .days-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--soft-blue);
}

.footer {
  border-top: 1px solid var(--light-dark-blue);
  padding-top: 1rem;
  display: flex;
  align-items: center;
}

.footer img {
  height: 32px;
  width: 32px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.author {
  color: var(--soft-blue);
  font-weight: 300;
  margin-left: 1rem;
}

.author-name {
  color: var(--white);
}

.author-name:hover,
.nft-name:hover {
  cursor: pointer;
  color: var(--cyan);
}

.image-wrapper .icon-view:hover {
  cursor: pointer;
  opacity: 1;
}
