@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-dark: hsl(0, 0%, 7%);

  /* Fonts */
  --font-family: 'Figtree', sans-serif;

  /* Font sizes */
  --font-size-body: 1rem;
  --font-size-large: 1.5rem;
  --font-size-heading: 1.25rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;

  /* Font weights */
  --font-weight-extra-bold: 800;
  --font-weight-semi-bold: 500;

  /* Line heights */
  --line-height-heading: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  line-height: var(--line-height-heading);
}

.blog-preview-card {
  background: var(--color-white);
  border-radius: 20px;
  border: 1px solid var(--color-dark);
  box-shadow: clamp(8px, 2vw, 16px) clamp(8px, 2vw, 16px) 0 var(--color-dark);
  overflow: hidden;
  width: clamp(327px, 80%, 384px);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-image {
  height: 200px;
}

.blog-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-content .blog-category {
  background-color: var(--color-yellow);
  font-size: clamp(var(--font-size-small), 2.5vw, var(--font-size-medium));
  font-weight: var(--font-weight-extra-bold);
  width: fit-content;
  border-radius: 4px;
  padding: 4px 12px;
}

.blog-content .blog-publish-date {
  font-size: clamp(var(--font-size-small), 2.5vw, var(--font-size-medium));
  font-weight: var(--font-weight-semi-bold);
}

.blog-content .blog-title {
  font-size: clamp(var(--font-size-heading), 4vw, var(--font-size-large));
  font-weight: var(--font-weight-extra-bold);
}

.blog-content .blog-title:hover {
  color: var(--color-yellow);
  cursor: pointer;
}

.blog-content .blog-description {
  color: var(--color-grey);
  font-size: clamp(var(--font-size-medium), 3vw, var(--font-size-body));
  font-weight: var(--font-weight-semi-bold);
}

.blog-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blog-author .author-name {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-extra-bold);
  font-style: normal;
}
