@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

:root {
  /* Colors */
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-dark: hsl(0, 0%, 7%);

  /* Fonts */
  --font-family: 'Figtree', sans-serif;

  /* Font sizes */
  --font-size-heading: 1.5rem;
  --font-size-body: 1rem;
  --font-size-small: 0.75rem;

  /* Font weights */
  --font-weight-extra-bold: 800;
  --font-weight-semi-bold: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
}
